@model lawrukmvc.ViewModels.ThumbnailListAndTitleUrlList
@{
    ViewBag.Title = Model.Title;
}
<div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-10">
        @Html.Partial("ThumbnailList", Model.ThumbnailListViewModel);
    </div>
    <div class="col-lg-1">       
          
    </div>
</div>
