body 
{
    font-family:Helvetica;
    margin:0px; padding:0px
}

h2 {margin: 5px 0px 5px 0px;}
h4 {margin: 5px 0px 5px 0px; font-size:18px;}
.container {margin-left:10px; margin-right:10px;}

p {margin-top:0px;}

ul {margin:0px 0px 0px 0px; padding:0px;}

li {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.weather ul {
    border-top-style:solid;  border-top-width:1px; border-color:#ccc;
    border-top-width:1px;
    margin:0px -20px 0px -20px;
    padding:0px;
}
.weather li
{       
    list-style-type: none;   
    border-color:#ccc;
    border-style:solid;
    border-width:0px;
    border-bottom-width:1px;   
    padding:0px 10px 10px 10px; 
}

.navbar 
{
    width:100%; height:45px; background-color:Black; margin:0px; padding:0px;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#333),to(#222));
    background-image: -webkit-linear-gradient(top,#333,#222);
}
.navbar-inner .back-link 
{
    display:block; float:left; height:20px; border-color:#333; border-width:1px; padding:3px;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#777),to(#aaa));
    background-image: -webkit-linear-gradient(top,#777,#aaa);
    
    border-bottom-right-radius: 6px;border-bottom-left-radius: 30px;
    border-top-right-radius: 6px; border-top-left-radius: 30px;                     
}

.navbar .brand {
display: block;
float: left;
padding: 9px 3px 3px 40px;
margin-left:30px;

font-size: 24px;
font-weight: 200;
line-height: 1;
color: #999;
}

.back-button { color:Black; font-size:14px; font-weight:bold; margin:3px; text-decoration:none;}
.navbar-inner a {text-decoration:none; margin-right:10px;}

.thumbnail-list ul {margin: -1px -10px 0px -10px; padding:0px; border-top-style:solid; border-top-width:1px; border-top-color:#ccc;}

.thumbnail-list li 
{
display:block;
height:75px;
clear: left;
list-style-type: none;
line-height: 14px;
padding-bottom: 10px;
border-color:#ccc;
border-style:solid;
border-width:0px;
border-bottom-width:1px;
padding:0px;
margin:0px;
}

.thumbnail-list li img {
    height: 75px;
    width: 75px;
    padding-right: 5px;
    float: left;
}

.thumbnail-list li a {display:block; color:Black; font-weight:bold; font-size:14px; text-decoration:none; height:75px;}
.thumbnail-list .list-title 
{
    display:block;
    padding:5px 5px 0px 2px;
}

.thumbnail-list li .date {font-weight:normal;}

.rss-list ul {list-style-type:none; margin-left:-30px;}
.rss-list li {margin-bottom:15px;}
.rss-list li img {margin-right:5px;}
.rss-list li p {margin-top:5px;, margin-bottom:5px;}
.rss-list li .date {line-height:12px;}

.date {
margin: 5px 0px 5px 0px;
color: #999;
font-size: 12px;
}

body.home {            
         
    background-color:#222;
          }
.home .icon {padding:5px; float:left;background-color:#222;}
.home .personaName { display:block; font-weight: bold; font-size:11px; color:White; text-align:center; padding:3x 0px 5px;
               -webkit-font-smoothing: antialiased;
               }
.home .nav-img {border-top-right-radius: 6px; border-top-left-radius: 6px;border-bottom-right-radius: 6px;border-bottom-left-radius: 6px;}
.home-link:hover {opacity:0.7; }
.home .personaName:hover {opacity:1; }
.navbar-inner {display:block; padding:10px;margin:auto auto;}
.icon a.home-link {
    float: left;
    display: block;
    width: 87px;
    height: 102px;
    margin-left: 2px;
    text-decoration: none;
}
.navbar-inner .brand { padding:0px; margin:auto;}

.circle {-webkit-border-radius: 999px; -moz-border-radius: 999px; border-radius: 999px; display:inline-block; width: 15px; height: 15px; } 
.circle-red { background: red; }
.circle-orange { background: orange; }
.circle-blue { background: blue; }
.circle-yellow { background: yellow; }
.circle-green { background: green; }