@model PageViewModel
@{
    Layout = "~/Views/Shared/_MapLayout.cshtml";
    Model.PageTitle = "Camp Hill Street Lights";
    Model.PageType = "Map";
    Model.DateTime = new DateTime(2020, 10, 1);
    Model.OpenGraphImageUrl = "/blog/camp-hill-street-lights_504x672.png";
}

<script>
    require([
        "esri/Map",
        "esri/views/MapView",
        "esri/widgets/BasemapToggle",
        "esri/widgets/LayerList",
        "esri/layers/FeatureLayer",
        "esri/widgets/Locate",

        "esri/Graphic",
        "esri/layers/GraphicsLayer",
        "esri/geometry/Point",
        "esri/geometry/Polyline",
        "esri/request",
        "esri/symbols/SimpleLineSymbol",
        "esri/geometry/SpatialReference",
    ], function (
        Map, MapView,
        BasemapToggle,
        LayerList,
        FeatureLayer,
        Locate,
        Graphic, GraphicsLayer, Point, Polyline, request, SimpleLineSymbol, SpatialReference,
    ) {

        var map = new Map({
            basemap: "streets-night-vector"
        });

        var view = new MapView({
            container: "viewDiv",
            map: map,
            zoom: 14,
            center: [-76.925, 40.245]
        });

        var toggle = new BasemapToggle({
            titleVisible: true,
            view: view
        });

        view.ui.add(toggle, "bottom-right");

        var layerList = new LayerList({
            view: view
        });
        view.ui.add(layerList, "top-right");

        var locateBtn = new Locate({
            view: view
        });
        view.ui.add(locateBtn, "top-left");

        const template = {
            title: "Street Light",
            content: "Captured: {date} <br> Location: {latitude} {longitude}<br> Elevation: {elevation}"
        };

        var routesLayer = new FeatureLayer({
            url:
                "https://services5.arcgis.com/wBdB5z26dRdLbBYy/ArcGIS/rest/services/Collection_Routes/FeatureServer/0",
            title: "Routes",
            visible: false            
        });
        map.add(routesLayer);

        routesLayer.renderer = {
            type: "simple",
            symbol: {
                type: "simple-line",
                color: [230, 0, 0]
            }
        };

        var lightsLayer = new FeatureLayer({
            url:
                "https://services5.arcgis.com/wBdB5z26dRdLbBYy/arcgis/rest/services/Camp_Hill_Street_Lights/FeatureServer/0",
            title: "Street Lights",
            popupTemplate: template
        });

        lightsLayer.renderer = {
            type: "simple",
            symbol: {
                type: "simple-marker",
                size: 8,
                color: [230, 165, 0]
            }
        };

        map.add(lightsLayer);

    });

</script>

<div id="viewDiv"></div>
