@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <main role="main" class="pb-3">
            <div class="intro text-center">
            <p class="headshot"><img src="./img/headshot.jpg"></p>
            <p class="intro-1">Hello, My name is <strong>Jim Lawruk</strong>. I am a full-stack software developer who specializes in .NET/C# and JavaScript. I work for <a href="https://www.geodecisions.com/">GeoDecisions</a>, a firm specializing in geospatial technology.
                I am physically located in central Pennsylvania, but do remote work for clients in various locations. My interests include running, hiking, listening to podcasts, and spending time with family. Check out my various online profiles
                below:
        </div>
        <div class="profiles">
            <div><a href="https://stackoverflow.com/cv/lawruk" target="_blank">Stack Overflow</a></div>
            <div><a href="https://www.linkedin.com/in/lawruk/" target="_blank">LinkedIn</a></div>
            <div><a href="https://github.com/jimlawruk" target="_blank">GitHub</a></div>
            <div><a href="https://www.strava.com/athletes/9609385" target="_blank">Strava</a></div>
        </div>
        </p>
    </main>
</div>
