@using lawrukmvc.Helpers;
@model List<lawrukmvc.ViewModels.SyndicationItemViewModel>
@{
    ViewBag.Title = "Weather";
}
<div class="weather">
@foreach (lawrukmvc.ViewModels.SyndicationItemViewModel item in Model) {
    <li class="panel panel-primary">
        <h4>@item.Title</h4>
        
        @if (item.DisplaySummary)
          {
        @Html.Raw(item.Summary)  
        }
    </li>
    }
</div>
