<div class="container">
  <main role="main" class="pb-3">
    <div class="intro text-center">
      <p class="headshot"><img src="./img/headshot.jpg" alt="Jim Lawruk"></p>
      <div [innerHTML]="introHtml"></div>
    </div>
    <div class="profiles" [innerHTML]="profilesHtml"></div>
    <div class="recent-blogs">
      <div class="blog-posts">
        <div class="list">
          <ng-container *ngFor="let item of items">
            <a *ngIf="isExternal(item.link)" [href]="item.link" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <div class="info">
                  <div class="type">{{ item.type }}</div>
                  <div class="title">{{ item.title }}</div>
                  <div *ngIf="item.description" class="description">{{ item.description }}</div>
                </div>
                <div class="img"><img [src]="item.imagePath" /></div>
              </div>
            </a>
            <a *ngIf="!isExternal(item.link)" [routerLink]="item.link" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <div class="info">
                  <div class="type">{{ item.type }}</div>
                  <div class="title">{{ item.title }}</div>
                  <div *ngIf="item.description" class="description">{{ item.description }}</div>
                </div>
                <div class="img"><img [src]="item.imagePath" /></div>
              </div>
            </a>
          </ng-container>
        </div>
      </div>
    </div>
  </main>
</div>
