html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

a {
    color: #0366d6;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.author,
.date {
    max-width: 684px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 34px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

figure {
    margin-bottom: 25px;
}

.navbar {
    background-color: #363555;
    color: #fff;
}

a.navbar-brand {
    color: #fff;
    font-size: 24px;
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


/* Home
----------------------------*/

.headshot img {
    border-radius: 40px;
}

.intro p {
    color: rgb(55, 65, 81);
    font-size: 18px;
    text-align: center;
    margin: auto;
    margin-bottom: 14px;
}

.profiles {
    text-align: center;
}

.profiles>div {
    display: inline-block;
    margin-right: 20px;
    font-size: 24px;
}

.blog-posts {
    margin: auto;
    max-width: 684px;
    margin-top: 40px;
}

.blog-posts .list {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.blog-posts .title {
    font-size: 20px;
}

.blog-posts a.list-group-item {
    color: #0366d6;
}


/* Blog
----------------------------*/

div.author-date {
    margin-bottom: 15px;
}

.author,
.date {
    color: #777;
    font-size: 16px;
    font-weight: 600;
}


/* Maps
----------------------------*/

@media(max-width: 1000px) {
    .esri-legend {
        display: none;
    }
}

@media(max-height: 800px) {
    .esri-legend {
        display: none;
    }
}