#race-results .race-header {
    background-color: #363555;
    color: #ffffff;
    cursor: pointer;
}

#race-results .filter-row {
    background-color: #f8f9fa;
}

#race-results .filter-row td {
    padding: 4px 6px;
}

.table td,
.table th {
    padding: .50rem;
}